* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

img {
  width: 200px;
}

input {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  padding: 0 10px;
  margin: 10px 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: red;
  border-radius: 5px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 400px;
}

.player-card {
  width: 22%;
  min-width: 200px;
  border-radius: 5px;
  height: 450px;
  text-align: center;
  background-color: white;
  position: relative;
}

.player-card img {
  transition: 0.5s;
  border-radius: 5px 5px 0 0;
}

.player-card img:hover {
  transform: scale(0.9);
  transition: 0.5s;
  cursor: pointer;
}

.stat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.stat1 {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}



.stat img {
  border-radius: 50%;
}
